
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
    <div class="row px-xl-5">

        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" recentproductName="product 1" imageURL2="/assets/img/product-1.jpg" Count="100"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" recentproductName="product 2" imageURL2="/assets/img/product-2.jpg" Count="10"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" recentproductName="product 3" imageURL2="/assets/img/product-3.jpg" Count="90"></div>
        <app-recent-components></app-recent-components>
</div>
<!-- Products End -->
