<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1 app-category" categoryName="category 1" [productsCount]="100" imageURL="/assets/img/cat-1.jpg"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1 app-category" categoryName="category 2" [productsCount]="10" imageURL="/assets/img/cat-2.jpg"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1 app-category" categoryName="category 3" [productsCount]="70" imageURL="/assets/img/cat-3.jpg"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1 app-category" categoryName="category 4" [productsCount]="20" imageURL="/assets/img/cat-4.jpg"></div>
</div>
<!-- Categories End -->
